.row {
    display: flex;
    /* padding: 10px; */
    margin: 10px;
}
.child{
    background-color: aliceblue;
    width: 50%;
    margin: 10px;
}
p{
    font-size: larger;
    color: black;
    font-weight: 100;
}