div {
  background-color: azure;
  text-align: center;
  direction: ltr; /* Defines the direction of the container*/
  text-decoration: none /* Decorate and DeDecorate it */;
}
img {
    vertical-align: middle;
}
