div div {
    background-color: antiquewhite;
    letter-spacing: 5px;
    text-indent: 100px;
    word-spacing: 50px;
}
/* #div1{
    background-color: antiquewhite;
    letter-spacing: 5px;
    line-height: 2;
} */

#div2{
    background-color: antiquewhite;
   word-break: break-all;
    
}
